
header{
    color: ghostwhites;
    font-size: large;
    display: inline-flex;
    width: 100%;
}
#one{
    color: ghostwhite;
    padding-left: 500px;
}
#two{
    color: ghostwhite;
    padding-left: 40px;
}
h2{
    color: ghostwhite;
    padding-left: 200PX;
    font-size: 50px;
}
div{
    color: ghostwhite;
    display: flex-start
}
legend{
    color: ghostwhite;
    text-align: left;
}
fieldset{
    color: ghostwhite;
    margin: left 300px;
    text-align: left;
}
form{
    color: ghostwhite;
    padding-left: 100px;
    padding-top: 0px;
}
button{
    align-items: center;
    background-color: ghostwhite;
}
section{
    color: ghostwhite;
    display: flex;
    justify-content: space-evenly;

}
body{
    width: fit-content;
}
